<script src="/vendor/firebase/firebase-app-compat.js"></script>
    <script src="/vendor/firebase/firebase-auth-compat.js"></script>
    <script src="/vendor/jspdf/jspdf.umd.min.js"></script>
    <script src="/vendor/jspdf-autotable/jspdf.plugin.autotable.min.js"></script>
    <script src="/vendor/exceljs/exceljs.min.js"></script>
    <script src="/vendor/lucide/lucide.min.js"></script>
    <script src="/js/00-runtime.js"></script>
    <script src="/js/01-foundation.js"></script>
    <script src="/js/02-data.js"></script>
    <script src="/js/03-dashboard.js"></script>
    <script src="/js/04-ui.js"></script>
    <script src="/js/05-reports.js"></script>
    <script src="/js/06-goal-form.js"></script>
    <script src="/js/07-events.js"></script>
    <script src="/js/08-platform.js"></script>
